:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;

}

.darkmode{
    --base-color: rgb(0, 0, 0);
    --base-variant: #242424;
    --text-color: #ffffff;
    --secondary-text: #bbbbbb;
    --primary-color: #2a2d36;
    --accent-color: #5ce600;

}




body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--base-variant);
    color: var(--text-color);
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    grid-area: menu;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100%;
}

.sido-meny {
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    display: block;
}

.sido-meny:hover {
    background-color: #ddd;
    padding-left: 10px;
}

main {
    grid-area: content;
    padding: 20px;
    background-color: #fff;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.picture {
    height: 25em;
    margin-left:70%;
}

.picture2 {
    height: 35px;
    width: 35px;
}

.cta-button{
    background-color: var(--accent-color);
}
#theme-switch{
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--primary-color)
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}